.regform{
    padding: 26px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: #0ad7da;
    border: 0;
    outline: none;
    border-radius: 8px;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: linear-gradient(to bottom, #1e293b, #5cdb95 90%); */
}

input{
    color: white;
    margin-left: 5px;
    border: 0;
    outline: none;
    background-color: #25b0b2;
    border-radius: 5px;
    /* opacity: 0.4; */
}

textarea{
    color: white;
    width: 80%;
    /* margin-left: 5px; */
    border: 0;
    outline: none;
    background-color: #25b0b2;
    border-radius: 5px;
}

button{
    background-color: #243045;
    border-radius: 5px;
    /* opacity: 0.4; */
}

.page{
    color: white;
    padding: 0 1rem;
    background-color: #1e293b;
}

.page_box{
    min-height: 120px;
    background-color: #1e293b;
    color: #0ad7da;
    font-size: 36px;
    text-align: center;
}

.page_content{
    /* text-align: center; */
    min-height: calc(100vh - 180px);
    border-radius: 10px;
    margin-top: -2rem;
    background-color: #00fbff;  
    color: black;
    font-size: 20px;
}

.page-content-data{
    /* text-align: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand{
    /* text-align: center; */
    /* padding: 0.5% 1%; */
    font-family: 'Concert One', cursive;
    font-size: 40px;
}

/* .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: rgb(58, 57, 57);
}

.menu:hover{
    background-color: aliceblue;
    border-radius: 30%;
} */

@media(max-width: 992px){
    .navbar-nav, .profile-logo{
        display: none;
    }
}


.menu{
    display: none;
}