<!-- <p>admin works!</p> -->
<!-- <p>user-meterdata works!</p> -->
<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
  </style>
  
  <div class="card">
    <div class="card-body">
      <div class="col s7">
          <table class="responsive-table highLight">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Complaint</th>
                <th>Coordinator</th>
                <th>Mentor name</th>
              </tr>
            </thead>
            <tr *ngFor="let emp of totalAngularPackages">
              <td>{{emp.username}}</td>
              <td>{{emp.email}}</td>
              <td>{{emp.complaints.type}}</td>
              <td>{{emp.complaints.complaint}}</td>
              <td>{{emp.coordi}}</td>
              <td>{{emp.mentor}}</td>
            </tr>
          </table>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="col s7">
          <table class="responsive-table highLight">
            <thead>
                <th>q1</th>
                <th>q2</th>
                <th>q3</th>
            </thead>
            <tbody>
                <td>Not satisfied with my Mentor</td>
                <td>My Mentor did not contact me</td>
                <td>My Mentor does not respond to my queries</td>
            </tbody>
          </table>
      </div>
    </div>
  </div>